<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <title>Enter the address to get comparables</title>
</head>

<body>
	<div class="row">
    <div class="col-xs-12">
      <h2>Get Comparables feature of Corral</h2>

      <p>In this page you can enter all the addresses you wish to get comparables for. </p>
      
      
      ${form.display(value=dict(title='Please enter address'))}
      
	</div>
  </div>
</body>
</html>
