<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <title>Welcome to Corral - Service for real estate search </title>
</head>

<body>
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron">
        <h1>Welcome to Corral 0.1</h1>
        <p>This service will help you to make your real estate searches a breeze. </p>
	<p>Good Luck! </p>
      </div>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>
  </div>

  <em class="pull-right small"> Thank you for choosing TurboGears.</em>
</body>
</html>
