<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <title>Get xml file for your properties for project ${kw['project']}</title>
</head>

<body>
	<div class="row">
    <div class="col-xs-12">
      <h2>XML file has been generated for you listings </h2>
      <p> The link to your file is </p>
      <a href="http://4windsre.com:8080/xmlfiles/${projectName}/${projectName}.xml">http://4windsre.com:8080/xmlfiles/${projectName}/${projectName}.xml</a>
                  
 	</div>
 	
 	<div class="col-xs-12">
 	<h2>The properties which were posted successfully and their respective links on zillow</h2>
 	<table border="0" cellpadding="5" style="width:75%">
 		<tr py:for="property in propertyStatus['posted']">
      			<table border="0" cellpadding="5" style="width:75%">
      			  <tr py:for="key,value in property.items()">
      				<td>${key}</td>
      				<td><a href="http://www.zillow.com/homes/${value}_zpid" target="_blank">http://www.zillow.com/homes/${value}_zpid</a></td>
      				<td>status</td>
      			  </tr>
      			</table>
  		</tr>
	 </table>
	 <h2>The properties which could not be posted. Please check if the required fields are there</h2>
 	 <table border="0" cellpadding="5" style="width:75%">
 	     <tr py:for="property in propertyStatus['not-posted']">
      			<table border="0" cellpadding="5" style="width:75%">
      			  <tr py:for="key,value in property.items()">
      				<td>${key}</td>
      				<td><a href="http://www.zillow.com/homes/${value}_zpid" target="_blank">http://www.zillow.com/homes/${value}_zpid</a></td>
      				<td>status</td>
      			  </tr>
      			</table>
  		 </tr>
	 </table>
 	</div>
  </div>
</body>
</html>
